*{
    margin: 0;
}
html body #root{
    height: 100vh;
}
.signup{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    padding: 10px;
    /* overflow-y: auto; */
    /* border: 2px solid black; */
    /* height: 70%; */
    /* position: relative; */
    /* bottom: 30%; */
    /* width: 20%; */
    /* left: 50%; */
    /* transform: translate(-50%,50%); */
}
.login{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    padding: 10px;
    overflow-y: auto;
    border: 2px solid black;
    height: 70%;
    position: absolute;
    top: 50%;
    width: 20%;
    left: 50%;
    transform: translate(-50%,-40%);
}
input{
    margin: 10px;
    height: 20px;
    border-radius: 5px;
    border-width: 2px;
}
button{
    height: 30px;
    border-width: 2px;
    border-radius: 5px;
}
.radios{
    display: flex;
    justify-content: space-around;
    align-items: center;
}