*{
    margin: 0;
}
html body #root{
    height: 100vh;
}
.signup{
    font-size: larger;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding: 16px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
    left: 50%;
    margin: 32px 0px;
    transform: translate( -40%, 0);
}
.login{
    font-size: larger;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    min-width: fit-content;
    padding: 16px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%,-40%);
}
form label{
    font-size: larger;
    font-weight: 600;
    color: #690735;
}
input{
    font-size: large;
    margin: 16px 0px;
    padding: 8px;
    min-width: 300px;
    min-width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    align-self: center;
}
input[type="radio"]{
    min-width: 0;
}
button{
    border-width: 2px;
    font-size: larger;
    border-radius: 5px;
    align-self: center;
    padding: 8px 12px;
    background-color: #690735;
    color: white;
}
.radios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
}
select{
    font-size: large;
    text-align: center;
    margin: 10px;
    height: 30px;
    width: 140px;
    border-width: 2px;
}
button:hover{
    cursor: pointer;
}