@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.4s;
    color: #690735;
}
html{
	width: 100%;
	min-height: 100%;
	position: relative;
}
body{
	height: 100%;
	width: 100%;
}
#root{
	height: 100%;
	width: 100%;
    display: flex;
    flex-direction: column;
}
.Home{
    width: fit-content;
    height: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
    justify-self: left;
    display: flex;
}
.btn-layout{
    text-decoration: none;
    color: white;
    /* width: 25%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 0 20px;
    box-sizing: border-box;
}
.btn-layout:hover{
    background-color: #690735;
}
.Home:hover{
    background-color: #690735;
}
.child-layout{
    height: 100%;
    width: 15%;
    flex-grow: 1;
    align-items: center;
    display: flex;
}
.child-layout#left{
    justify-content: left;
}
.child-layout#right{
    justify-content: right;
}
.layout{
    background-color: #56042c;
	z-index: 1;
	position: fixed;
	top: 0;
	justify-content: space-between;
	overflow: hidden;
	display: flex;
	padding-left: 16px;
	padding-right: 32px;
	width: 100%;
	height: 80px;
}
.logo{
    padding: 8px;
    height: 100%;
}

.PageData{
    margin-top: 80px;
    /* display: flex; */
    /* justify-items: center; */
    /*flex-direction: column; */
}

.flag{
    border: 1px solid #56042c;
    border-radius: 4px;
}