#team span{
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
    width: 100%;
}
.details{
    font-size: x-large;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
}
.teams{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 450px;
}
#team{
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.kickoff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.stadium{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.seats{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.row{
    display: flex;
}
.seat{
    margin: 10px;
    width: 25px;
    height: 25px;
}
.refs{
    margin-top: 24px;
    margin-left: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    /* grid-template-columns: auto auto auto; */
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-gap: 0 48px;
}
#reserve{
    padding: 10px;
    font-size: x-large;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.ref{
    margin: 0 10px;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.free:hover{
    background-color: coral;
}
.seat:hover{
    cursor: pointer;
}
.free{
    background-color: red;
}
.reserved{
    background-color: blue;
}
.taken{
    background-color: brown;
}